* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;

}

body{
    font-family: 'IBM-Plex-Sans';
}

#chapter{
    position: relative;
}

.hero{
   background: url(../image/Backgroound_Picture.png)no-repeat center/cover;
   height: 700px;
   clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 99%);
}

.header-container {
    padding: 0 89px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1124px;
}

.head1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 1px;
}

.menu{
    margin-right: 55px;
    
} 

.menu a {
    color: white;
    text-decoration: none;
}

.menu__list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  padding-right: 100px;
  font-size: 12px;
  line-height: 15,6px;
  padding-bottom: 15px;
}

.menu_list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  padding: auto;
  font-size: 12px;
  line-height: 15,6px; 
  transition: 0.3s;

}

.order{
    text-align: center; 
    margin-top: 100px;
}

.order__list{
  font-size: 68px;
  font-style: normal;
  font-weight: 100;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.h2{
   color: white;
   font-size: 41px;
   font-weight: 400;
}

.welcome {
    border: 1px solid white;
    width: 327px;
    background: white;
    text-align: center;
    color: rgb(8, 8, 8);
    position: absolute;
    bottom: -75px;
    right: 126px;
    border-radius: 10px;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    font-size: 11px;
    padding: 30px 47px;
}

.welcome p{
    text-align: left;
}

.welcome__title{
    font-size: 28px;
}

#whyus{
    font-size: 28px;
    margin-bottom: 84px;
}

.container {
    max-width: 1124px;
    padding: 0 139px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section__heading{
    color: #A3CC40;
    font-size: 48px;
   margin-bottom: 84px;
}

.party {
    display: flex;
    margin-top: 10px;
}

.party2 {
    display: flex;
}

.convenience{
    margin-right: 30px;
    margin-top: 70px;
}

.menu_bar {
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.3px;
}

.table {
    border-collapse: collapse;
    width: 849px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    color: white;
    margin-bottom: 30px;
    text-align:left;
    font-size: 14px;
}

.table th {
    background-color: #A3CC40;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.head_tb th {
    background: #A3CC40;
    border: none;
}

.table__row {
    width: 80px;
    line-height: 18.2px;
    height: 45px;
    padding: 0 24px;
    box-sizing: border-box;
}

.table__cell-head{
    color: white;
    width: 236px; 
}

.table__wrapper{
    display: flex;
    align-items: center;
}

.table__film{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}


.table_header {
    width: 849px;
    border-radius: 90px;
    margin: 50px 50px 50px 50px;
}

.table_header tr {
    background: #373737;
    height: 45px;
}

.two {
    background-color: #373737;
}

.table tr:nth-child(odd) {
    background-color: #4D4C4F;
}



.film__text{
    text-align: center;
    font-size: 11px;
    line-height:  14,3px;
  }

.reward {
    background: url(../image/7.png) no-repeat center/cover;
    border: 1px solid rgb(202, 112, 112);
    margin-top: 100px;
    height: 500px;
    padding-top: 100px;
    position: relative;
    color: rgb(8, 8, 8);
}

.present {
    background: url(../image/7.png) no-repeat center/cover;
    height: 500px;
    color: white;
}

.present {
    position: absolute;
    top: -100px;
    border-radius: 100%;
    margin-left: 100px;
    width: 302px;
    height: 303px;
}

.info__text {
    width: 50%;
    float: right;
    color: white;
    text-align: end;
}

.info__text{
  margin-right: 136px;
  font-size: 11px;
}

.text{
    font-size: 14px;
}

.button {
    padding: 7px;
    background-color: #A3CC40;
    color: white;
}

.section__text{
    font-size: 11px;
}

.film{
   margin-top: 162px;
}

.film__img {
    width: 33.33333%; 
    margin: auto;
    position: relative;
    height: 283px;
}

.film__img img {
    display: flex;
    width: 100%;
    height: 283px;
}

.film__p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.8);
    color: white;
}

.film__p h2,
p {
    margin: 20px;
}

.goods{
    padding: 40px;
}

.card__box {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 245px;
    height: 331px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__hover {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #A3CC40CC;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    width: 99%;
    padding-top: 70px;
    height: 153px;
    overflow: hidden;
    border-radius: 10px;
    bottom: 7px;
}

#reviews{
    background: url(../image/10.png) no-repeat center/cover;
    border: 1px solid rgb(202, 112, 112);
    padding: 40px;
}

.section__photo{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.photo1 {
    display: inline-block;
    background-color: yellowgreen;
    color: yellowgreen;
    width: 250px;
    color: white;
    border-radius: 9px;
}

.photo1 img {
    width: 100%;
    display: flex;
}

.form__section{
    display: flex;
    padding: 40px;
}

.img_back{
    background: url(../image/kino.png)no-repeat center/cover;
    width: 414px;
    height: 527px;
    border-radius: 20px 0 0 20px ;

}

.img_back img{
    width: 100%;
    height: 100%;
}

.feedback__form{
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
}

form {
    font-size: 25px;
    color: #A3CC40;
    text-align: center;
    width: 350px;
}

.party_form {
    margin-left: 27px;
}

.option_form {
    width: 344px;
    height: 40px;
    padding-left: 15.56px;
    border: none;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: 5px;
    margin-top: 33px;
    outline: none;
    margin-bottom: -50px;
}

.comment{
    resize: none;
}

.full_name{
    width: 330px;
    height: 40px;
    padding-left: 15.56px;
    border: none;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: 5px;
    margin-top: 33px;
    outline: none;
    margin-bottom: -50px;
}

.email{
    width: 330px;
    height: 40px;
    padding-left: 15.56px;
    border: none;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: 5px;
    margin-top: 33px;
    outline: none;
    margin-bottom: -50px;
}

.full_name2 {
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15.56px;
    padding-right: 15px;
    padding-bottom: 87px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

.chek_box{
    font-size: 11px;
    color:#333333;
}

.bt1 {
    border: none;
    padding: 15.87px 30.92px 15.13px 32.59px;
    width: 280.40px;
    height: 57px;
    background: #A3CC40;
    border-radius: 6px;
    color: white;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 30px;
}

.map {
    width: 973px;
    height: 421px;
    margin: 50px;
}

.footer {
    background: #A3CC40;
    color: white;
    padding: 50px;
}

.footer__link{
    color: white;
}

.footer__contact{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.innopolis__img{
   height: auto;
}

img{
    width: 245px;
    height: 169px;
}

.site{
    color: white;
    text-decoration: none;
    bottom: 84px;
}

#contact {
    margin-top: 25px;
}

.contact{
    color: white;
    text-decoration: none;
}

.page{
    margin-bottom: 0;
}

ul{
    list-style: none;
}

.what{
    color: #A3CC40;
}

.chek {
    display: flex;
    margin: 28px;
}

.chek p {
    margin-left: 6px;
    font-size: 12px;
}
